.slider-control-bottomcenter {
  display: none;
}

.slider {
  height: 100%;
}

.slider-container {
  height: 100%;
}

.slider-frame {
  height: 100% !important;
}
.slider-list {
  height: 100% !important;
}
